*{
    margin: 0;
    padding: 0;
}
.container{
   margin: 0 auto;
   width: 80%;
   background-color: aquamarine;
   overflow: hidden;
}
.fbody{
    width: 50%;
    margin: 100px auto;
    background-color: bisque;
    padding: 30px;
}
.fhead{
    text-align: center;
    border-bottom: 2px solid black;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 20px;
}



.label{
    font-size: 25px;
}
.nab{
    width: 70%;
    height: 30px;
    border-radius: 10px;
}
::placeholder{
    padding-left: 10px; 
    font-size: 15px;
    font-style: italic;
    color: black;
}


.fn{
    width: 124px;
}

input[type*date]{
    width: 50%;
}

